<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doan_rapphim">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RẠP PHIM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn_RapPhim">
        <activity android:name=".packageDangKyDangNhap.packageDangNhap.packageThongTinUser.TabTaiKhoan"
            android:label="THÔNG TIN"
            android:parentActivityName=".packageDangKyDangNhap.packageDangKy.DangKyActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".packageDangKyDangNhap.packageDangKy.DangKyActivity"/>
        </activity>
        <activity android:name=".packageDangKyDangNhap.packageDangKy.DangKyActivity" />
        <activity android:name=".packageTrangChiTiet.TrangChiTiet" />
        <activity android:name=".packageDangKyDangNhap.packageDangNhap.packageThongTinUser.ThayDoiThongTin"/>
        <activity android:name=".packageDangKyDangNhap.packageDangNhap.packageThongTinUser.ThayDoiMatKhau"/>
        <activity android:name=".packageTrangChiTiet.packageThanhToan.ThanhToan"
            android:label="THANH TOÁN"
            android:parentActivityName=".packageTrangChiTiet.TrangChiTiet">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".packageTrangChiTiet.TrangChiTiet"/>
        </activity>
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>