<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doan_rapphim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RẠP PHIM"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn_RapPhim">
        <activity android:name=".packageDangKyDangNhap.packageDangNhap.packageThongTinUser.DSLichSuDatVeActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".packageTrangChiTiet.packageThanhToan.ThongTinGiaoDich" android:screenOrientation="portrait" />
        <activity android:name=".packageDangKyDangNhap.packageDangNhap.packageThongTinUser.XacThucMatKhauActivity" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"  android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".packageDangKyDangNhap.packageDangNhap.QuenMatKhauActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".packageDangKyDangNhap.packageDangKy.DangKyActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".packageTrangChiTiet.TrangChiTiet"  android:screenOrientation="portrait"/>
        <activity android:name=".packageDangKyDangNhap.packageDangNhap.packageThongTinUser.ThayDoiThongTin" android:screenOrientation="portrait" />
        <activity android:name=".packageDangKyDangNhap.packageDangNhap.packageThongTinUser.ThayDoiMatKhau" android:screenOrientation="portrait" />
        <activity android:name=".packageTrangChiTiet.packageThanhToan.SoDoGhe" />
        <activity
            android:name=".packageTrangChiTiet.packageThanhToan.ThanhToan"
            android:label="THANH TOÁN"
            android:screenOrientation="portrait"
            android:parentActivityName=".packageTrangChiTiet.TrangChiTiet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".packageTrangChiTiet.TrangChiTiet" />
        </activity>
        <activity android:name=".SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>